@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MAC Donald's recipes bank</h1>
    <p class="lead">While pan-frying cheese may not sound particularly healthy, as it caramelizes, it gives up a fair amount of butter fat, which stays behind in the pan. So, you could actually spin this technique as a new, fat-reducing hack – unless you use that to butter the toast, which isn’t a dumb idea.</p>
</div>