@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MAC Donald's recipes bank</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec justo elit. Maecenas fringilla convallis massa. Integer sed orci porttitor, suscipit ante vel, elementum quam. Curabitur vel posuere diam. Proin a metus id mi tristique lobortis. Donec laoreet elit molestie metus condimentum, ac ultricies mauris finibus. In id urna magna. Ut non enim in dui dictum tincidunt.
    </p>
</div>

    <div class="row">
        <div class="col-md-4">
            <h2>Pellentesque tincidunt</h2>
            <p>
                Nulla id condimentum felis. Pellentesque in ante iaculis, euismod neque at, imperdiet turpis. Donec nec condimentum enim, eu auctor libero. Nam turpis nunc, tincidunt sed accumsan ut, luctus nec neque. Fusce vel ullamcorper odio, sed sagittis nunc. Donec finibus interdum nisl, placerat blandit neque. Fusce ac enim a ligula convallis egestas. Pellentesque ultrices sapien lectus, sit amet sodales elit ornare id. Donec vel orci justo. Maecenas dignissim suscipit velit sit amet consequat.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Sed vitae ante enim</h2>
            <p>Curabitur neque ligula, cursus id maximus in, condimentum vitae velit. Sed metus eros, viverra eu lacus nec, venenatis dignissim lectus. Integer et tellus felis. Nunc auctor nulla enim, at auctor odio ultricies non. Fusce vulputate cursus felis in tempor. Ut eu efficitur quam. Aliquam posuere mi malesuada, posuere turpis eget, suscipit felis. Phasellus a ex id nisi mollis pulvinar ac nec nibh.</p>
        </div>
        <div class="col-md-4">
            <h2>Proin eget est congue</h2>
            <p>Proin orci nulla, scelerisque sit amet tempus imperdiet, placerat sed est. Curabitur sem risus, ornare at gravida sit amet, consectetur eu sapien. Curabitur nec vestibulum odio, eu facilisis elit. Sed malesuada elementum efficitur. Fusce vehicula arcu ac malesuada luctus. Quisque sit amet tortor eu urna vehicula pellentesque. Aliquam erat volutpat. Sed eu rhoncus lacus.</p>
        </div>
    </div>